cliente/web/WEB-INF/wsdl/localhost_8080/ws1/wsDolar.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="tipoCambio" type="tns:tipoCambio"/>

<xs:element name="tipoCambioDate" type="tns:tipoCambioDate"/>

<xs:element name="tipoCambioDateResponse" type="tns:tipoCambioDateResponse"/>

<xs:element name="tipoCambioResponse" type="tns:tipoCambioResponse"/>

<xs:complexType name="tipoCambio">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tipoCambioResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoCambioDate">
<xs:sequence>
<xs:element name="anio" type="xs:int"/>
<xs:element name="mes" type="xs:int"/>
<xs:element name="dia" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoCambioDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>