cliente/src/conf/xml-resources/web-service-references/wsDolar/wsdl/localhost_8080/ws1/wsDolar.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="wsDolar">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/ws1/wsDolar?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="tipoCambioDate">
<part name="parameters" element="tns:tipoCambioDate"/>
</message>
<message name="tipoCambioDateResponse">
<part name="parameters" element="tns:tipoCambioDateResponse"/>
</message>
<message name="tipoCambio">
<part name="parameters" element="tns:tipoCambio"/>
</message>
<message name="tipoCambioResponse">
<part name="parameters" element="tns:tipoCambioResponse"/>
</message>
<portType name="wsDolar">
<operation name="hello">
<input wsam:Action="http://services/wsDolar/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/wsDolar/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="tipoCambioDate">
<input wsam:Action="http://services/wsDolar/tipoCambioDateRequest" message="tns:tipoCambioDate"/>
<output wsam:Action="http://services/wsDolar/tipoCambioDateResponse" message="tns:tipoCambioDateResponse"/>
</operation>
<operation name="tipoCambio">
<input wsam:Action="http://services/wsDolar/tipoCambioRequest" message="tns:tipoCambio"/>
<output wsam:Action="http://services/wsDolar/tipoCambioResponse" message="tns:tipoCambioResponse"/>
</operation>
</portType>
<binding name="wsDolarPortBinding" type="tns:wsDolar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tipoCambioDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tipoCambio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsDolar">
<port name="wsDolarPort" binding="tns:wsDolarPortBinding">
<soap:address location="http://localhost:8080/ws1/wsDolar"/>
</port>
</service>
</definitions>